@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bienvenido</h1>
<h2>Registrate como un Administrador.</h2>
<p>Para poder utilizar el Administrador del Sazón necesitas seguir los siguientes pasos:</p>
<ol>
    <li>Registra un nuevo Administrador General con un usuario y contraseña (este es tu acceso principal)</li>
    <li>Registra una nueva cuenta de Administrador General para todos los negocios y sucursales que vas a tener asignados a tu cuenta. (opcional)</li>
    <li>Registra un nuevo negocio </li>
</ol>

