@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bienvenido al Administrador de Sazón</h1>
<br />
<h2>Sigue 3 sencillos pasos para poder utilizar al administrador de Sazón</h2>
<br />
<h3>
    <span><a href="#Paso1">1.- Registro de Administrador (Tu cuenta para administra TODOS tus negocios)</a></span><br />
    <span><a href="#Paso2">2.- Registra tu negocio (Los datos de la razón social, son opcionales) (opcional)</span><br />
    <span><a href="#Paso3">3.- Registra tus sucursales (Al menos una sucursal en donde registrar los datos de tus transacciones) </span><br />
    <span><a href="#Paso4">4.- Registra al menos un operador (Gerente de sucursal, Jefe de Piso, Mesero, Hostes) (opcional)</span><br />
    <span><a href="#Paso5">5.- Inicia tus operaciones, empieza a levantar y administrar las ordenes de tus comensales.</span><br />
</h3>
<br />
<h2><a name="Paso1">Paso 1: Registrate como un Administrador.</a></h2>
<p>A continuación proporciona tus datos como Administrador:</p>
<p>Importante, si vas a utilizar ésta aplicación y no eres el dueño, inicia sesión, el Administrador seguramente ya te envió un correo electrónico con tus datos de acceso.</p>
<div class="container">
    <div class="row">
        <div class="col-6 form_textRight" >
            Correo electrónico:
        </div>
        <div class="col-6">
            <input id="Step1_Email" class="form-control" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Nombre de Usuario:
        </div>
        <div class="col-6">
            <input id="Step1_UserName"class="form-control"  type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Nombre:
        </div>
        <div class="col-6">
            <input id="Step1_Name"class="form-control"  type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            Fecha de nacimiento:
        </div>
        <div class="col-4">
            Año <input id="Step1_YearBD"class="form-control"  type="text" />
        </div>
        <div class="col-4">
            Mes <input id="Step1_MonthBD"class="form-control"  type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Avatar:
        </div>
        <div class="col-6">
            <input id="Step1_Avatar"class="form-control"  type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 center" style="text-align:center">
            <input id="Step1_Continue" class="btn btn-primary" type="button" value="Registrar Administrador" />
        </div>
    </div>
</div>
<p></p>
<br />
<h2><a name="Paso2">Paso 2: Registra tu empresa. (opcional)</a></h2>
<p>Registra los datos de tu negocio (datos generales), puedes registrar más de una empresa:</p>
<p></p>
<h2><a name="Paso3">Paso 3: Registra tus sucursales (al menos una).</a></h2>
<p>Registra todas las sucursales que tengas y asígnalas a cada una de las empresas que tienes registradas:</p>
<p></p>
<h2><a name="Paso4">Paso 4: Registra un operador (opcional).</a></h2>
<p>Proporciona los datos de idéntificación y acceso de tus operadores:</p>
<p></p>
<h2><a name="Paso5">Paso 5: Empieza tus operaciones.</a></h2>
<p>Empieza a levantar las órdenes de tus comensales por medio del Administrador del Sazón</p>
<p></p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
