@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@


<div class="alert " role="alert">
    <h2 class="alert-heading">Bienvenido al Administrador de Sazón</h2>
    <p>Ésta es una plataforma para poder administrar las ordenes, generar la cuenta por cliente o por mesa y gestionar las operaciones de un restaurante o bar de una forma fácil.</p>
    <hr>
    <p class="mb-0">El uso de éste software es gratuito dentro de ciertos límites, si te gusta y quieres utilizarlo en tus propios servidores puedes obtener una versión de Código Abierto desde nuestro <a href="https://github.com/dbarriguete/AdministradorDeSazon">repositorio de GitHub</a></p>
    <p></p>
</div>